<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors" />
    <meta name="generator" content="Hugo 0.88.1" />
    <title></title>



    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!-- Favicons --> 

    <style>
        body{
            margin:10% 30%;
        }
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

    <!-- Custom styles for this template -->
    <link href="signin.css" rel="stylesheet" />
</head>

<body class="text-center">
    <!-- <a href="/download">Download</a> -->
    <main class="form-signin">
        <form action="/" method="post">
            <img class="mb-4" src="https://cdn.dribbble.com/users/602043/screenshots/2224561/media/b667af8c63272fc189111f34939c8192.png?compress=1&resize=800x600" alt="" width="200px"  />
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
            <span style="color: red"><%= message %> </span>
            <div class="form-floating">
                <input type="Text" name="email" class="form-control" id="floatingInput" placeholder="" />
                <label for="floatingInput">Username</label>
            </div>
            <div class="form-floating">
                <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password" />
                <label for="floatingPassword">Password</label>
            </div>

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me" /> Remember me
                </label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">
                Sign in
            </button>
            <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
        </form>
        <p>cant sign in <a href="/signup">Signup</a></p>
        <p>Put Profile <a href="/profile">Profile</a></p>

    </main>
</body>

</html>